.usuarios-crud {
  margin: 20px;
}

.buscar-usuarios {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.buscar-usuarios input {
  margin-right: 10px;
  padding: 5px;
}

.buscar-usuarios button {
  margin-right: 10px;
  padding: 5px 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

button {
  padding: 5px 10px;
}

button.guardar {
  background-color: #9b33dc; 
  color: white;
  border: none;
  cursor: pointer;
}

button.eliminar {
  background-color: #f44336; /* Rojo */
  color: white;
  border: none;
  cursor: pointer;
}

button.guardar:hover {
  background-color: #45a049;
}

button.eliminar:hover {
  background-color: #d32f2f;
}

.mensaje {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.mensaje.exito {
  color: #4CAF50;
  border-color: #4CAF50;
}

.mensaje.error {
  color: #f44336;
  border-color: #f44336;
}
